@font-face {
  font-family: "777Balsamtint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FlowerRoad";
  src: url("./assets/font/SangSangFlowerRoad.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "NanumSquare", sans-serif;
}

nav {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #fff;
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vw;
    font-size: 4vw;
    .emoji {
      display: none;
    }
    .on {
      .char {
        display: none;
      }
      .emoji {
        display: block;
      }
    }
  }
  .progress {
    background: #7490c7;
    display: block;
    width: 100%;
    height: 0.5vw;
  }
}

.content {
  .pane {
    position: relative;
    padding: 5vw 10px;
    &:not(:first-child) {
      padding: 7vw 10px;
    }
    .anchor {
      position: absolute;
      margin-top: -20vw;
      padding-top: 20vw;
    }
    &.footer {
      margin-top: 10px;
      padding: 3vw 0;
    }
    // 각 섹션 헤더
    h2 {
      margin: 0;
      font-size: 7vw;
      font-family: FlowerRoad;
      text-align: center;
      margin-bottom: 3vw;
      margin-top: 5vw;
    }
    h3 {
      margin: 0;
      font-size: 4vw;
      font-family: FlowerRoad;
      text-align: center;
      margin-top: -2vw;
    }
  }
  .divider {
    width: 50%;
    height: 10vw;
    margin: 0 auto;
    background-image: url("./assets/img/divider.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  .flower {
    height: calc(107vw - 20px);
    background: no-repeat url("./assets/img/frame.png");
    background-size: contain;
    background-origin: border-box;
    padding: 24.13vw 0;
    box-sizing: border-box;
    position: relative;
    font-family: FlowerRoad;
    .names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .name {
        font-size: 13vw;
        &:last-child {
          font-size: 10vw;
        }
      }
      .em {
        font-size: 9vw;
      }
    }
  }

  .schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "777Balsamtint";
    font-size: 6vw;
  }
}

.profile {
  display: flex;
  flex-direction: column;

  .invitation {
    text-align: center;
    font-family: "777Balsamtint";
    font-size: 5vw;
    margin: 7vw 0 11vw;
  }

  .pictures {
    display: flex;
    margin-top: -3vw;
    margin-bottom: 5vw;
    div {
      flex: 3;
      overflow: hidden;
      height: calc(43vw - 6.6px);
      img {
        width: 100%;
      }
      &.ring {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
        }
      }
      &.seunghyeon img {
        transform: scale(6) translateX(4.8vw) translateY(0vw);
        transform-origin: center;
        clip-path: circle(8% at 38% 55%);
      }
      &.ara img {
        transform: scale(6) translateX(-6vw) translateY(-0.76vw);
        transform-origin: center;
        clip-path: circle(8% at 65% 58%);
      }
    }
  }

  .introduction {
    display: flex;
    justify-content: space-around;
    font-size: 6vw;
    font-family: "777Balsamtint";
    .relationship {
      display: flex;
      align-items: center;
      .parents {
        display: inline-flex;
        flex-direction: column;
      }
      .josa {
        margin: 0 1.5vw;
        font-size: 4.5vw;
      }
    }
  }

  .contacts {
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
    font-size: 5.5vw;
    font-family: "777Balsamtint";

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39vw;
      height: 8vw;
      .tel {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        background-image: url(./assets/img/phone.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .modal.husband {
      display: none;
      position: fixed;
      width: 100vw;
      top: 20%;
      left: 0;
      z-index: 10;
      overflow: hidden;
      animation: fadein 0.3s;
      .close {
        position: absolute;
        top: 0vw;
        right: 5vw;
        color: black;
        font-size: 8vw;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }
      .dim {
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
      }
      .content {
        padding: 5vw;
        width: 100%;
        background-color: white;
        .title {
          display: flex;
          justify-content: start;
          margin-left: 5vw;
        }
        .each {
          border: 1px solid #ececec;
          border-radius: 5px;
          padding: 3vw;
          display: flex;
          justify-content: space-around;
          margin-top: 3vw;
          span a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
          }
          span:first-child {
            width: 20vw;
            border-right: 1px solid #ececec;
          }
          img {
            width: 7vw;
            margin-left: 2vw;
            text-align: center;
          }
        }
      }
    }

    .modal.wife {
      display: none;
      position: fixed;
      width: 100vw;
      top: 20%;
      left: 0;
      z-index: 10;
      overflow: hidden;
      animation: fadein 0.3s;
      .close {
        position: absolute;
        top: 0vw;
        right: 5vw;
        color: black;
        font-size: 8vw;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
      }
      .dim {
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
      }
      .content {
        padding: 5vw;
        width: 100%;
        background-color: white;
        .title {
          display: flex;
          justify-content: start;
          margin-left: 5vw;
        }
        .each {
          border: 1px solid #ececec;
          border-radius: 5px;
          padding: 3vw;
          display: flex;
          justify-content: space-around;
          margin-top: 3vw;
          span a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
          }
          span:first-child {
            width: 20vw;
            border-right: 1px solid #ececec;
          }
          img {
            width: 7vw;
            margin-left: 2vw;
            text-align: center;
          }
        }
      }
    }
  }
}

.photo {
  .images {
    display: grid;
    grid-template-columns: auto-fit;
    grid-gap: 0;
    grid-column-gap: 1vw;
    overflow: hidden;
    .image-wrapper {
      &.width {
        grid-column: 1 / 3;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadein 1s;
    .close {
      position: absolute;
      top: 5vw;
      right: 5vw;
      color: white;
      font-size: 8vw;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
    }
    .modal-content {
      width: 100%;
    }
    .dim {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  #map {
    // width: calc(100vw - 10px);
    // height: calc(100vw - 10px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .redirect-map {
    .header {
      font-size: 5vw;
      margin: 5vw 0 2vw;
    }
    .link {
      display: flex;
      a {
        font-size: 4vw;
        flex: 1;
        text-align: center;
        text-decoration: none;
        color: black;
        img {
          width: 50%;
        }
      }
    }
  }
  .location-desc {
    .header {
      display: flex;
      align-items: center;
      margin: 5vw 0 1vw;
      font-size: 5vw;
      .icon {
        margin-right: 2vw;
        width: 5vw;
        height: auto;
      }
    }
    .desc {
      font-size: 3.5vw;
    }
    .bus {
      font-size: 3vw;
      flex-direction: column;
      margin: 1vw;
    }
  }
}

.bank-account {
  .account-buttons {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
    span {
      display: flex;
      justify-content: center;
      padding: 3vw;
      border-radius: 5vw;
      background-color: rgb(204, 199, 253);
      width: 60vw;
      margin-top: 3vw;
      
    }
  }
  .husband-account-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    animation: fadein 0.3s;
    justify-content: center;
    align-items: center;
    .content {
      padding: 5vw;
      width: 80vw;
      border: 1px solid #d1d1d1;
      background-color: #fdfcfc;
      .title {
        display: flex;
        justify-content: start;
        font-size: 4vw;
        font-weight: bold;
        padding-bottom: 2vw;
        border-bottom: 1px solid #b3b3b3;
        margin-bottom: 3vw;
        margin-top: 2vw;
      }
      .account {
        margin-top: 4vw;
        display: flex;
        justify-content: space-between;
        button {
          border: none;
          padding: 0.1vw 3vw;
          height: 7vw;
          border-radius: 2vw;
          background-color: #f3f3f3;
        }
      }
      .close {
        background-color: rgb(204, 199, 253);
        border-radius: 2vw;
        border: none;
        width: 100%;
        padding: 3vw;
        color: white;
        margin-top: 6vw;
      }
    }
  }
  .wife-account-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    animation: fadein 0.3s;
    justify-content: center;
    align-items: center;
    .content {
      padding: 5vw;
      width: 80vw;
      border: 1px solid #d1d1d1;
      background-color: #fdfcfc;
      .title {
        display: flex;
        justify-content: start;
        font-size: 4vw;
        font-weight: bold;
        padding-bottom: 2vw;
        border-bottom: 1px solid #b3b3b3;
        margin-bottom: 3vw;
        margin-top: 2vw;
      }
      .account {
        margin-top: 4vw;
        display: flex;
        justify-content: space-between;
        button {
          border: none;
          padding: 0.1vw 3vw;
          height: 7vw;
          border-radius: 2vw;
          background-color: #f3f3f3;
        }
      }
      .close {
        background-color: rgb(204, 199, 253);
        border-radius: 2vw;
        border: none;
        width: 100%;
        padding: 3vw;
        color: white;
        margin-top: 6vw;
      }
    }
  }
  .copied-modal {
    display: none;
    position: fixed;
    top: 10vh;
    left: 0;
    color: rgb(255, 255, 255);
    justify-content: center;
    animation: fadeinout 2s;
    animation-fill-mode: forwards;
      .text {
      border-radius: 2vw;
      background-color: rgb(204, 199, 253);
      padding: 2vw;
    }
    width: 100vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}